@import "libs/reset.scss";
@import "libs/component.scss";

* {
    font-family: 'Roboto', sans-serif;

    p{
        font-weight: 100;
    }
}

a {
    text-decoration: none;
}


// +++++++++++++++++++++++++++++++++++++
/* +++       Version Mobile          +++*/
// +++++++++++++++++++++++++++++++++++++


    // page de chargement
    .loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $pinkPurple;
        @extend %centerElement;
        z-index: -1;
        
        .loading__case {
            // border: rgb(55, 73, 19) solid 1px;
            width: 80%;
            @extend %centerElement;
            align-items: center;
            flex-direction: column;
            .loading__title {
                // border: rgb(36, 64, 139) solid 1px;
                width: 50%;
                text-align: center;
                font-family:'Shrikhand', cursive ;
                font-size: 30px;
                color: rgb(247, 240, 240);
                padding-bottom: 20px;
            }

            .loading__bar {
                // border: white solid 3px;
                width: 50%;
                height: 50px;
                background-color: $purple;
                @extend %borderRadius;

                .loading__progress {
                    background-color: $white;                    
                    height: 100%;
                    @extend %borderRadius;
                    animation: loadingAvancement 2s;
                }
            }
        }
    }

    @keyframes loadingAvancement {
        from {
            width: 0%;
        }to{
            width: 100%;
        }
    }
    
    // contenu de la page
    .content {
        background-color: white;
        z-index: 0;
        animation: loadPage 3s;
    }
    
    @keyframes loadPage {
        0% {
           opacity: 0; 
        }50% {
            opacity: 0;
        }90%{
            opacity: 0;
        }99%{
            opacity: 0.5;
        }100%{
            opacity: 1;
        }
    }

    // navigation

    nav {
        width: 100%;
        padding: 15px;
        @extend %centerElement;

        .nav__img {
            width: 40%;
        }
    }

    // header
    header {
        @extend %centerElement;
        flex-direction: column;
        background-color: $grey;
        width: 100%;
        padding: 15px;
        border-top: solid 3px rgb(212, 212, 212);

        .location {
            @extend %centerElement;

            .location__logo {
                margin-right: 15px;
            }
        }
    }

    // Exploration
    section {
        .exploration {
            @extend %centerElement;
            background-color: $greyLight;
            flex-direction: column;
            padding: 15px;
            align-items: center;

            .exploration__title{
                width: 50%;
                text-align: center;
                margin: 10px 0 ;
            }

            .exploration__description{
                width: 60%;
                text-align: center;
                margin: 10px 0 ;
            }

            .exploration__btn {
                margin: 10px 0 20px ;
            }

        }
    }

    // Fonctionnement
    .function {
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: center;

        .functon__headtitle {
            width: 100%;
        }

        .function__list {
            @extend %centerElement;
            flex-direction: column;
            align-items: center;
            width: 90%;
            max-width: 600px;

            .function__step {
                background-color: $greyLight;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 20px 0;
                margin: 10px 0;
                border-radius: 20px;
                position: relative;
                @extend %boxshadow;


                .function__number {
                    width: 25px;
                    height: 25px;
                    background-color: $purple;
                    border-radius: 100%;
                    text-align: center;
                    color: white;
                    position: absolute;
                    left: -12px;
                    padding-top: 3px;
                }

                .function__logo {
                    width: 20%;
                    margin-left: 40px;
                    padding-top: 3px;
                }

                .function__title {
                    width: 60%;
                }
            }

            .function__select {
                background-color: $purpleLight;

                .function__logo__select {
                    color: $purple;
                }
            }
        }
    }

    // Liste des restaurants
    main {
        padding: 15px;
        background-color: $greyLight;

        .resto__list {
            padding: 15px;
        }

        .card__resto {
            @extend %borderRadius;
            padding-bottom: 20px;
            position: relative;

            .resto__new {
                background-color: $green;
                padding: 5px;
                color:darken($color: $green, $amount: 40);
                position: absolute;
                top: 5%;
                right: 5%;
            }

            .disable {
                display: none;
            }


            .img__resto__pic {
                @extend %borderTopRadius;
                width: 100%;
                height: 200px;
                object-fit: cover;
                }
            

            .resto__section__info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: $white;
                align-items: center;
                padding: 10px;
                @extend %borderBottomRadius;
                @extend %boxshadow;

                
            }

        }
    }

        // Bas de page
        
    footer {
        background-color: $greyDark;
        padding: 20px;

        .footer__logo {
            color: $white;
            margin-bottom: 20px;
            font-family: 'Shrikhand', cursive;
        }

        .footer__element {
            display: flex;
            flex-direction: row;
            padding: 5px 0;
        }

        .footer__element__logo {
            color: $white;
            width: 20px;
            margin-right: 6px;
            
        }

        .footer__element__name {
            color: $white;
        }
    }


// +++++++++++++++++++++++++++++++++++++
/* +++       Version tablette        +++*/
// +++++++++++++++++++++++++++++++++++++

@media (min-width: 600px) and (max-width: 945px) {
    // navigation
    nav {
        justify-content: flex-start;
        .nav__img {
            width: 30%;
        }
    }

    // Liste des restaurants

    main {
        .resto__list {
            padding: 0px;
            padding-top: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .card__resto {
                width: 49%;
            }
        }
    }

    // footer 
    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

// +++++++++++++++++++++++++++++++++++++
/* +++       Version desktop        +++*/
// +++++++++++++++++++++++++++++++++++++

@media (min-width: 945px) {
    
    // navigation
    nav {
        .nav__img {
            width: 25%;
        }
    }

    // Liste des restaurant

    main {
        padding: 10px;
        .resto__list {
            padding: 0px;
            padding-top: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .card__resto {
                width: 24%;
            }
        }
    }

    // bas de page 
    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        .footer__list {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
        }
    }

    
}