html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
}
* p {
  font-weight: 100;
}

a {
  text-decoration: none;
}

/* +++       Version Mobile          +++*/
@media (max-width: 721px) {
  .function .function__list, section .exploration, header .location, header, nav {
    display: flex;
    justify-content: center;
  }

  main .card__resto .resto__section__info, .function .function__list .function__step {
    box-shadow: 0px 2px 9px 1px #d4d4d4;
  }

  main .card__resto {
    border-radius: 15px;
  }

  main .card__resto .resto__section__img .img__resto__pic {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  main .card__resto .resto__section__info {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .btn {
    width: 45%;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    padding: 15px;
    border-radius: 25px;
    border: none;
  }

  nav {
    width: 100%;
    padding: 15px;
  }
  nav .nav__img {
    width: 40%;
  }

  header {
    flex-direction: column;
    background-color: #eaeaea;
    width: 100%;
    padding: 15px;
    border-top: solid 3px #d4d4d4;
  }
  header .location .location__logo {
    margin-right: 15px;
  }

  section .exploration {
    background-color: #f6f6f6;
    flex-direction: column;
    padding: 15px;
    align-items: center;
  }
  section .exploration .exploration__title {
    width: 50%;
    text-align: center;
    margin: 10px 0;
  }
  section .exploration .exploration__description {
    width: 60%;
    text-align: center;
    margin: 10px 0;
  }
  section .exploration .exploration__btn {
    margin: 10px 0 20px;
  }

  .function {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
  }
  .function .functon__headtitle {
    width: 100%;
  }
  .function .function__list {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .function .function__list .function__step {
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    margin: 10px 0;
    border-radius: 20px;
  }
  .function .function__list .function__step .function__number {
    width: 25px;
    height: 25px;
    background-color: #9356DC;
    border-radius: 100%;
    text-align: center;
    color: white;
    position: absolute;
    left: 25px;
  }
  .function .function__list .function__step .function__logo {
    width: 20%;
    margin-left: 40px;
  }
  .function .function__list .function__step .function__title {
    width: 70%;
  }
  .function .function__list .function__select {
    background-color: #f5edff;
  }
  .function .function__list .function__select .function__logo__select {
    color: #9356DC;
  }

  main {
    padding: 15px;
    background-color: #f6f6f6;
  }
  main .resto__list {
    padding: 15px;
  }
  main .card__resto {
    padding-bottom: 20px;
    position: relative;
  }
  main .card__resto .resto__new {
    background-color: #99E2D0;
    padding: 5px;
    color: #278870;
    position: absolute;
    top: 5%;
    right: 5%;
  }
  main .card__resto .resto__section__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 10px;
  }

  footer {
    background-color: #353535;
    padding: 20px;
  }
  footer .footer__logo {
    color: white;
    margin-bottom: 20px;
    font-family: "Shrikhand", cursive;
  }
  footer .footer__element {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
  }
  footer .footer__element__logo {
    color: white;
    width: 5%;
    margin-right: 6px;
  }
  footer .footer__element__name {
    color: white;
  }
}

/*# sourceMappingURL=style.css.map */
